<div class="setup" id="feed-setup">
  <h1><%= t('sessions.new.title') %> <span class="orange"><%= t('sessions.new.rss') %></span>.</h1>
  <h2><%= t('sessions.new.subtitle') %></h2>

  <hr />
  <a href="/oauth/connect">Connect with Pocket</a>
</div>
